@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
} */