@import "tailwindcss";

@plugin "@tailwindcss/typography";

@plugin "daisyui" {
    /* themes: light --default, dark --prefersdark; */
    themes: corporate --default, business --prefersdark;
    /* themes: all; */
}

/* https://daisyui.com/docs/themes/ */
/* https://daisyui.com/theme-generator/ */
/* https://github.com/saadeghi/theme-change */

@layer base {
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
}

@layer components {
    .prose {
        max-width: 120ch !important;
    }
}


@layer utilities {
    
}
