---
import ThemeToggler from "./ThemeToggler.astro";
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">VisionXAiRy</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/about">About</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/projects">Projects</a></li>
      <li>
        <details>
          <summary>Demos</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            <li><a>Demo 1</a></li>
            <li><a>Demo 2</a></li>
          </ul>
        </details>
      </li>
      <li>
        <ThemeToggler />
      </li>
      </ul>
  </div>
</div>