---
import logo from "../assets/visionxairy-icon.svg?raw";
---

<div class="flex flex-1 items-center justify-center">
  <div class="prose text-center">
    <div 
      class="w-24 h-24 mx-auto mb-4 text-base-content [&>svg]:w-full [&>svg]:h-full [&>svg]:fill-current" 
      set:html={logo}
    />
    <h1>VisionXAiRy</h1>
    <h2>Coming Soon</h2>
  </div>
</div>