---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header />
    <main class="flex-1 container mx-auto px-4 prose lg:prose-xl max-w-100vh">
        <slot />
    </main>
    <Footer />
</Layout>
